@{
    ViewData["Title"] = "AI";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Chiedi alla nostra AI!</h1>
            <br />
            <p>Inserisci una domanda e scopri la risposta dell'intelligenza artificiale.</p>
            <br /><br />
        </header>
        <br />
        <form asp-action="PaginaAi" method="post" asp-controller="Meteo" class="ai-form">
            <div class="search-wrapper">
                <input type="text" name="testo" placeholder="Scrivi qui..." class="search-field" class="search-field" aria-label="Scrivi la tua domanda" required autocomplete="off" />
                <button type="submit"><span class="m-icon leading-icon">rocket_launch </span></button>
                <!--<button type="submit"><span class="m-icon leading-icon">chat </span></button>
                <button type="submit"><span class="m-icon leading-icon">arrow_circle_up </span></button>
                <button type="submit"><span class="m-icon leading-icon">send</span></button> -->
            </div>
        </form>

        <div class="header-actions2">
            <a class="btn-primary has-state" asp-area="" asp-controller="Meteo" asp-action="Index">
                <span class="m-icon">home</span>
                <span class="span">Home     </span>
            </a>
        </div>

        @if (ViewData["Risposta"] != null)
        {
            <div class="ai-response">
                <h2>Risposta dell'IA:</h2>
                <div class="response-content">
                    @Html.Raw(ViewData["Risposta"])
                </div>
            </div>
        }
    </div>
</body>
</html>
